@import "tailwindcss";
@import "tw-animate-css";

@custom-variant dark (&:is(.dark *));

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --font-sans: var(--font-dm-sans);
  --font-mono: var(--font-geist-mono);
  --color-sidebar-ring: var(--sidebar-ring);
  --color-sidebar-border: var(--sidebar-border);
  --color-sidebar-accent-foreground: var(--sidebar-accent-foreground);
  --color-sidebar-accent: var(--sidebar-accent);
  --color-sidebar-primary-foreground: var(--sidebar-primary-foreground);
  --color-sidebar-primary: var(--sidebar-primary);
  --color-sidebar-foreground: var(--sidebar-foreground);
  --color-sidebar: var(--sidebar);
  --color-chart-5: var(--chart-5);
  --color-chart-4: var(--chart-4);
  --color-chart-3: var(--chart-3);
  --color-chart-2: var(--chart-2);
  --color-chart-1: var(--chart-1);
  --color-ring: var(--ring);
  --color-input: var(--input);
  --color-border: var(--border);
  --color-destructive: var(--destructive);
  --color-accent-foreground: var(--accent-foreground);
  --color-accent: var(--accent);
  --color-muted-foreground: var(--muted-foreground);
  --color-muted: var(--muted);
  --color-secondary-foreground: var(--secondary-foreground);
  --color-secondary: var(--secondary);
  --color-primary-foreground: var(--primary-foreground);
  --color-primary: #4f46ca;
  --color-popover-foreground: var(--popover-foreground);
  --color-popover: var(--popover);
  --color-card-foreground: var(--card-foreground);
  --color-card: var(--card);
  --radius-sm: calc(var(--radius) - 4px);
  --radius-md: calc(var(--radius) - 2px);
  --radius-lg: var(--radius);
  --radius-xl: calc(var(--radius) + 4px);

  --color-primary-50: #eef2ff;
  --color-primary-100: #e1e7fe;
  --color-primary-200: #c8d3fd;
  --color-primary-300: #a7b6fa;
  --color-primary-400: #848ff5;
  --color-primary-500: #666aee;
  --color-primary-600: #5149e2;
  --color-primary-700: #4f46ca;
  --color-primary-800: #3832a1;
  --color-primary-900: #32307f;
  --color-primary-950: #1f1c4a;

  --color-neutral-300: #d4d4d4;
  --color-neutral-500: #737373;
  --color-neutral-900: #171717;

  --color-accent-blue: #0088ff;

  --color-gray-700: #414651;

  /* other colors */
  --color-body: var(--body);
  --color-secondary-50: var(--secondary-50);
  --color-secondary-100: var(--secondary-100);
  --color-secondary-200: var(--secondary-200);
  --color-secondary-950: var(--secondary-950);
  --color-faint: var(--faint);
  --color-gradient-outline-btn: [linear-gradient(0deg,#374151,#374151),linear-gradient(180deg,rgba(55,65,81,0.16)_0%,rgba(55,65,81,0)_100%)];
  /* ----------- dark colors ----------- */
  --color-dark-border: var(--dark-border);
  --color-dark-text: var(--dark-text);
  --color-dark-background-50: var(--dark-background-50);
  --color-dark-background-100: var(--dark-background-100);
  --color-dark-background-200: var(--dark-background-200);
}

:root {
  --radius: 0.625rem;
  --background: oklch(1 0 0);
  --foreground: oklch(0.141 0.005 285.823);
  --card: oklch(1 0 0);
  --card-foreground: oklch(0.141 0.005 285.823);
  --popover: oklch(1 0 0);
  --popover-foreground: oklch(0.141 0.005 285.823);
  --primary: oklch(0.21 0.006 285.885);
  --primary-foreground: oklch(0.985 0 0);
  --secondary: rgb(82, 82, 82);
  --secondary-foreground: oklch(0.21 0.006 285.885);
  --muted: oklch(0.967 0.001 286.375);
  --muted-foreground: oklch(0.552 0.016 285.938);
  --accent: oklch(0.967 0.001 286.375);
  --accent-foreground: oklch(0.21 0.006 285.885);
  --destructive: oklch(0.577 0.245 27.325);
  --border: oklch(0.92 0.004 286.32);
  --input: oklch(0.92 0.004 286.32);
  --ring: oklch(0.705 0.015 286.067);
  --chart-1: oklch(0.646 0.222 41.116);
  --chart-2: oklch(0.6 0.118 184.704);
  --chart-3: oklch(0.398 0.07 227.392);
  --chart-4: oklch(0.828 0.189 84.429);
  --chart-5: oklch(0.769 0.188 70.08);
  --sidebar: oklch(0.985 0 0);
  --sidebar-foreground: oklch(0.141 0.005 285.823);
  --sidebar-primary: oklch(0.21 0.006 285.885);
  --sidebar-primary-foreground: oklch(0.985 0 0);
  --sidebar-accent: oklch(0.967 0.001 286.375);
  --sidebar-accent-foreground: oklch(0.21 0.006 285.885);
  --sidebar-border: oklch(0.92 0.004 286.32);
  --sidebar-ring: oklch(0.705 0.015 286.067);

  /* other colors variables */
  --body: #71717a;
  --secondary-50: #fef2f2;
  --secondary-100: #ffe1e2;
  --secondary-200: #ffc9cb;
  --secondary-950: #46090b;
  --faint: #f7f7f7;
  /* ----------- dark colors ----------- */
  --dark-text: #DFE2F0;
  --dark-border: #374151;
  --dark-background-50: #374151;
  --dark-background-100: #1f2a37;
  --dark-background-200: #111928;
}

.dark {
  --background: rgb(17, 25, 40);
  --foreground: oklch(0.985 0 0);
  --card: rgb(31, 42, 55);
  --card-foreground: oklch(0.985 0 0);
  --popover: rgb(31, 42, 55);
  --popover-foreground: oklch(0.985 0 0);
  --primary: oklch(0.92 0.004 286.32);
  --primary-foreground: oklch(0.21 0.006 285.885);
  --secondary: rgba(223, 226, 240, 1);
  --secondary-foreground: oklch(0.985 0 0);
  --muted: oklch(0.274 0.006 286.033);
  --muted-foreground: rgb(223, 226, 240);
  --accent: rgb(17, 25, 40);
  --accent-foreground: oklch(0.985 0 0);
  --destructive: oklch(0.704 0.191 22.216);
  --border: rgba(55, 65, 81, 1);
  --input: rgba(55, 65, 81, 1);
  --ring: oklch(0.552 0.016 285.938);
  --chart-1: oklch(0.488 0.243 264.376);
  --chart-2: oklch(0.696 0.17 162.48);
  --chart-3: oklch(0.769 0.188 70.08);
  --chart-4: oklch(0.627 0.265 303.9);
  --chart-5: oklch(0.645 0.246 16.439);
  --sidebar: oklch(0.21 0.006 285.885);
  --sidebar-foreground: oklch(0.985 0 0);
  --sidebar-primary: oklch(0.488 0.243 264.376);
  --sidebar-primary-foreground: oklch(0.985 0 0);
  --sidebar-accent: rgba(17, 25, 40, 1);
  --sidebar-accent-foreground: oklch(0.985 0 0);
  --sidebar-border: rgba(55, 65, 81, 1);
  --sidebar-ring: oklch(0.552 0.016 285.938);

  /* other colors variables */
  --body: #ffffff;
}

@layer base {
  * {
    @apply border-border outline-ring/50;
  }
  body {
    @apply bg-background text-foreground;
  }
}

/* Hide scrollbar for Chrome, Safari, Edge */
.scrollbar-hide::-webkit-scrollbar {
  display: none;
}

/* Hide scrollbar for Firefox */
.scrollbar-hide {
  -ms-overflow-style: none;
  scrollbar-width: none;
}

/* Utility: subtle card shadow */
.shadow-subtle {
  box-shadow: 0px 1px 2px 0px #0a0d120d;
}
